// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// You can change the default values of Quasar variables here.

$primary: #193c39;
$secondary: #b9e7d0;
$accent: #ff6b52;

$dark: #12201f;
$dark-page: #0b1514;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
